html {
    filter: invert(1) hue-rotate(180deg);
    background-color: #121212 !important;
  }
  
  /* Separated images and videos from the inversion */
  img, video {
    filter: invert(1) hue-rotate(180deg);
  }

body {
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
    color: white; /* Ensures all text in the popup is white */
    background-color: rgb(30, 30, 30); /* For contrast */
  }
  
  /* Button styling */
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(60, 83, 112);
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  /* Hover button styling */
  button:hover {
    background-color: rgb(45, 65, 90);
  }